<div class="header">
    <h1 class='prof-heading'>Welcome to the profile page</h1>
    <h2 class="greet">Hello dear {{user.name}},</h2>
    <p>Do you want to write some blogs? Kindly click the below button named as "Write a Blog"</p>
</div>

<div class="section">
    <div class="left"><a href="/blogs" class="button blog">Write a Blog</a></div>
    <div class="right">
        <a href="/blogs/allblogs" class="button">Check all blogs</a>
        <a href="/logout" class="button">Logout</a>
    </div>
</div>