<div class="container">
    <h1 class="heading1">Express, MongoDB and Node js</h1>

    <p class="para1">Hellow users, this is an app created with the help of express and the database used here is Mongo
        DB
    </p>
    <p class="para1">You can click below to signup or login, it has an option to add user details, read and write blogs
        as well adding a profile
        picture once you sign up and login</p>
    <p class="para1">Explore the feature and let me know how I can improve the code and UI</p>
    <div class="buttons">

        <a href="/signup" class="button">Sign Up</a>

        <a href="login" class="button">Login</a>

        <a href="/users" class="button">Check the registered users here</a>
    </div>
    <div class="allblogs">
        <a href="/alluserblogs" class="button read-blog">Read awesome blogs written by our talented writers</a>
    </div>
</div>